body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding:10px;
  margin:5px;
}

.formulario input{
  margin-bottom: 5px;

}


